@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header .header-all {
  width: 100%;
  position: fixed;
  top: 0px;
  color: white;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 450px) {
  header .header-all {
    width: 450px;
  }
}
header .header-all .header-control-width {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.5s;
}
header .header-all .header-control-width .header-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
header .header-all .header-control-width .header-left img {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100px;
}
header .header-all .header-control-width .header-middle {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-middle {
    position: fixed;
    right: 30px;
    width: 30px;
    height: 50px;
  }
}
header .header-all .header-control-width .header-middle span {
  width: 80%;
  height: 2px;
  position: absolute;
  background-color: white;
}
header .header-all .header-control-width .header-middle span:first-child {
  top: 50%;
}
header .header-all .header-control-width .header-middle span:nth-child(2) {
  top: 70%;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-middle {
    display: flex;
  }
}
header .header-all .header-control-width .header-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  text-shadow: #666 2px 1px 5px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right {
    position: absolute;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    translate: -1200px 0px;
    transition: 0.3s;
    top: 100%;
    left: 0%;
    padding: 0px;
    background-color: rgb(49, 48, 48);
  }
}
header .header-all .header-control-width .header-right div {
  padding-bottom: 8px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right div {
    height: calc(12.5% - 15px);
    width: 100%;
    border-bottom: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right div {
    height: auto;
    padding: 30px;
  }
}
header .header-all .header-control-width .header-right div .first-page {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .first-page:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .first-page::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .first-page:hover::before {
  height: 2px;
  width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div .first-page i {
  font-size: 16px;
  margin-left: 3px;
}
header .header-all .header-control-width .header-right div .line-design {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .line-design:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .line-design::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .line-design:hover::before {
  height: 2px;
  width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right .human-icon,
header .header-all .header-control-width .header-right .home {
  font-size: 10px;
}
header .header-all .header-control-width .header-right .all-case {
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case {
    display: flex;
    flex-direction: column;
  }
}
header .header-all .header-control-width .header-right .all-case .top-case {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
header .header-all .header-control-width .header-right .all-case .fa-solid {
  font-size: 10px;
  vertical-align: center;
  animation: caseMove 2s infinite;
}
header .header-all .header-control-width .header-right .all-case .under-case {
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: white-space;
  white-space: nowrap;
  z-index: 101;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgb(30, 29, 29);
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 80vh;
    top: -100%;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    top: 60%;
    position: static;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case .under-close {
  display: none;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case .under-close {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  overflow: white-space;
  white-space: nowrap;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case a {
    height: 33.3333333333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a:hover {
  color: rgba(223, 218, 218, 0.928);
}
header .contact-banner {
  height: 100vh;
  width: 100%;
  background-image: url("../../furniture_img/contactUsPic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
@media (max-width: 414px) {
  header .contact-banner {
    background-attachment: scroll;
  }
}
header .contact-banner .banner-txt {
  width: 100%;
  height: 100%;
  font-size: 100px;
  letter-spacing: 3px;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
@media (max-width: 414px) {
  header .contact-banner .banner-txt {
    font-size: 50px;
  }
}

main {
  padding-bottom: 50px;
}
main .form-all {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  transition: 0.3s;
}
main .form-all .form-btn {
  list-style: none;
  width: 80%;
  padding-left: 30px;
  margin: 0 auto 50px;
  display: flex;
}
@media (max-width: 414px) {
  main .form-all .form-btn {
    padding-left: 0px;
  }
}
main .form-all .form-btn li {
  margin-right: 30px;
}
@media (max-width: 414px) {
  main .form-all .form-btn li {
    display: flex;
    flex-direction: column;
  }
}
main .form-all .form-btn .time {
  font-size: 14px;
  letter-spacing: 3px;
  color: #666;
  margin-left: auto;
  margin-top: 4px;
}
@media (max-width: 414px) {
  main .form-all .form-btn .time {
    display: none;
  }
}
main .form-all .span-name {
  position: relative;
  margin-bottom: 50px;
}
main .form-all .span-name .input-name {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 5vh;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  transition: 0.3s;
  border-top: 1px black solid;
  border-bottom: 1px transparent solid;
  border-left: 1px black solid;
  border-right: 1px transparent solid;
  position: relative;
  display: block;
}
main .form-all .span-name .input-name:hover {
  border-right: 1px black solid;
}
main .form-all .span-name::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 10%;
  border-bottom: 1px black solid;
  transition: 0.6s;
}
main .form-all .span-name:hover::before {
  width: 80%;
}
main .form-all .check-name,
main .form-all .check-mail,
main .form-all .check-phone {
  padding-left: 150px;
  font-size: 14px;
  color: red;
  display: none;
}
main .form-all .span-phone {
  position: relative;
  cursor: text;
}
main .form-all .span-phone .input-phone {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 5vh;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  transition: 0.3s;
  margin-top: 50px;
  border-top: 1px black solid;
  border-bottom: 1px transparent solid;
  border-left: 1px black solid;
  border-right: 1px transparent solid;
  position: relative;
  display: block;
}
main .form-all .span-phone .input-phone:hover {
  border-right: 1px black solid;
}
main .form-all .span-phone:hover .input-phone {
  border-right: 1px black solid;
}
main .form-all .span-phone::after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 10%;
  position: absolute;
  transition: 0.4s;
  border-bottom: 1px black solid;
}
main .form-all .span-phone:hover::after {
  width: 80%;
}
main .form-all .span-mail {
  position: relative;
  cursor: text;
}
main .form-all .span-mail .input-mail {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 5vh;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  transition: 0.3s;
  margin-top: 50px;
  border-top: 1px black solid;
  border-bottom: 1px transparent solid;
  border-left: 1px black solid;
  border-right: 1px transparent solid;
  position: relative;
  display: block;
}
main .form-all .span-mail .input-mail:hover {
  border-right: 1px black solid;
}
main .form-all .span-mail:hover .input-mail {
  border-right: 1px black solid;
}
main .form-all .span-mail::after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 10%;
  position: absolute;
  transition: 0.4s;
  border-bottom: 1px black solid;
}
main .form-all .span-mail:hover::after {
  width: 80%;
}
main .form-all .span-note {
  position: relative;
  cursor: text;
}
main .form-all .span-note .input-note {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 5vh;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  transition: 0.3s;
  margin-top: 50px;
  border-top: 1px black solid;
  border-bottom: 1px transparent solid;
  border-left: 1px black solid;
  border-right: 1px transparent solid;
  position: relative;
  display: block;
}
main .form-all .span-note .input-note:hover {
  border-right: 1px black solid;
}
main .form-all .span-note:hover .input-note {
  border-right: 1px black solid;
}
main .form-all .span-note::after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 10%;
  position: absolute;
  transition: 0.4s;
  border-bottom: 1px black solid;
}
main .form-all .span-note:hover::after {
  width: 80%;
}
main .form-all .input-submit {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 10vh;
  padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
}
@media (max-width: 414px) {
  main .form-all .input-submit {
    height: auto;
  }
}
main .form-all .input-submit:hover {
  font-size: 16px;
  background-color: rgb(255, 254, 254);
  color: black;
}

.window {
  display: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 450px;
  height: 200px;
  border-radius: 15px;
  border: 1px rgb(114, 112, 112) solid;
  background: linear-gradient(-180deg, rgb(176, 168, 159), rgb(255, 255, 255));
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  left: 33%;
  z-index: 200;
  top: 20%;
}
@media (max-width: 414px) {
  .window {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 80%;
    height: 150px;
  }
}
.window .close-title {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
  border-bottom: 1px solid #cec5ba;
}
.window .close-title div .fa-circle {
  font-size: 3px;
}
.window .close-title .fa-xmark {
  font-size: 25px;
  cursor: pointer;
}
.window .window-text {
  font-size: 20px;
  border-bottom: #524d55 1px solid;
  letter-spacing: 3px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer {
  width: 100%;
}
footer .footer-width-control {
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #cec5ba;
}
@media (max-width: 900px) {
  footer .footer-width-control {
    height: 30vh;
    padding: 0px 15px;
  }
}
footer .footer-width-control .footer-all {
  display: flex;
  color: #423e44;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all {
    width: 80%;
  }
}
footer .footer-width-control .footer-all .footer-left {
  margin-right: 80px;
  line-height: 30px;
  padding-right: 15px;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-left {
    margin: 0px;
    margin-right: 0px;
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-left {
    display: none;
  }
}
footer .footer-width-control .footer-all .footer-left h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-left h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-left a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-left a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle {
  margin-right: 80px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle {
    margin: 0px;
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-middle {
    display: none;
  }
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle .business {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-middle h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-middle a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle div {
  font-weight: 300;
  letter-spacing: 4px;
}
footer .footer-width-control .footer-all .footer-right {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-width-control .footer-all .footer-right h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer-width-control .footer-all .footer-right div {
  font-weight: 300;
  letter-spacing: 3px;
}
@media (max-width: 1150px) {
  footer .footer-width-control .footer-all .footer-right div {
    letter-spacing: 2px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-right div {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
footer .footer-width-control .last-text {
  position: absolute;
  bottom: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: 450px) {
  footer .footer-width-control .last-text {
    display: none;
  }
}

@keyframes menuTranslate {
  0% {
    opacity: 0;
    translate: -1200px 0px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}/*# sourceMappingURL=contact.css.map */