@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
}

.start-show {
  width: 100%;
  transition: 4s;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.start-show::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.start-show .start-one {
  width: 25%;
  height: 100%;
  display: "block";
  background-image: url("../../furniture_img/human1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 450px) {
  .start-show .start-one {
    width: 100%;
  }
}
.start-show .start-second {
  width: 25%;
  height: 100%;
  display: "block";
  background-image: url("../../furniture_img/human2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 450px) {
  .start-show .start-second {
    display: none;
  }
}
.start-show .start-third {
  width: 25%;
  height: 100%;
  display: "block";
  background-image: url("../../furniture_img/human3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 450px) {
  .start-show .start-third {
    display: none;
  }
}
.start-show .start-four {
  width: 25%;
  height: 100%;
  display: "block";
  background-image: url("../../furniture_img/human4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 450px) {
  .start-show .start-four {
    display: none;
  }
}
.start-show .show-txt {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 3px;
  top: 0;
  left: 0;
  font-size: 40px;
}
@media (max-width: 450px) {
  .start-show .show-txt {
    font-size: 30px;
  }
}
.start-show .show-txt::after {
  content: "";
  position: absolute;
  display: inline-block; /* 新增這行 */
  vertical-align: middle; /* 新增這行 */
  border: 1px white dotted;
  width: 50%;
  height: 50%;
  left: 24.8%;
  top: 50%;
  transform: translateY(-50%);
  animation: shine 2s infinite;
}
@media (max-width: 450px) {
  .start-show .show-txt::after {
    display: none;
  }
}
.start-show .start-all {
  opacity: 0;
  transition: 0.5s;
}

header {
  display: none;
  overflow: visible;
}
header .header-all {
  width: 100%;
  position: fixed;
  top: 0px;
  color: white;
  z-index: 100;
}
@media (max-width: 450px) {
  header .header-all {
    width: 450px;
  }
}
header .header-all .header-control-width {
  width: 1280px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.5s;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width {
    width: 100%;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width {
    width: 450px;
    padding-right: 0;
  }
}
header .header-all .header-control-width .header-left {
  margin-bottom: 10px;
}
header .header-all .header-control-width .header-left img {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100px;
}
header .header-all .header-control-width .header-middle {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-middle {
    position: fixed;
    right: 30px;
    width: 30px;
    height: 50px;
  }
}
header .header-all .header-control-width .header-middle span {
  width: 80%;
  height: 2px;
  position: absolute;
  background-color: white;
}
header .header-all .header-control-width .header-middle span:first-child {
  top: 50%;
}
header .header-all .header-control-width .header-middle span:nth-child(2) {
  top: 70%;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-middle {
    display: flex;
  }
}
header .header-all .header-control-width .header-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  text-shadow: #666 2px 1px 5px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right {
    position: absolute;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    translate: -1200px 0px;
    transition: 0.3s;
    top: 100%;
    left: 0%;
    padding: 0px;
    background-color: rgb(49, 48, 48);
  }
}
header .header-all .header-control-width .header-right div {
  padding-bottom: 8px;
  margin-right: 20px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right div {
    height: calc(12.5% - 15px);
    width: 100%;
    border-bottom: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right div {
    height: auto;
    padding: 30px;
  }
}
header .header-all .header-control-width .header-right div .first-page {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .first-page:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .first-page::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .first-page:hover::before {
  height: 2px;
  width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div .first-page i {
  font-size: 16px;
  margin-left: 3px;
}
header .header-all .header-control-width .header-right div .line-design {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .line-design:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .line-design::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .line-design:hover::before {
  height: 2px;
  width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div a {
  color: white;
  text-decoration: none;
}
header .header-all .header-control-width .header-right .human-icon,
header .header-all .header-control-width .header-right .home {
  font-size: 10px;
}
header .header-all .header-control-width .header-right .all-case {
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case {
    display: flex;
    flex-direction: column;
  }
}
header .header-all .header-control-width .header-right .all-case .top-case {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
header .header-all .header-control-width .header-right .all-case .fa-solid {
  font-size: 10px;
  vertical-align: center;
  animation: caseMove 2s infinite;
}
header .header-all .header-control-width .header-right .all-case .under-case {
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: white-space;
  white-space: nowrap;
  z-index: 101;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgb(30, 29, 29);
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 80vh;
    top: -100%;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    top: 60%;
    position: static;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case .under-close {
  display: none;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case .under-close {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case .under-case .under-close {
    border: none;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  overflow: white-space;
  white-space: nowrap;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case a {
    height: 33.3333333333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a:hover {
  color: rgba(223, 218, 218, 0.928);
}

.jane-introduce {
  width: 80%;
  height: 90vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 71, 71);
  border: 0.8px white dotted;
  z-index: 200;
}
@media (max-width: 1150px) {
  .jane-introduce {
    height: 70vh;
    top: 50%;
    translate: 0px -50%;
  }
}
@media (max-width: 450px) {
  .jane-introduce {
    height: 58vh;
    width: 80%;
  }
}
.jane-introduce .jane-title {
  height: 20%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border-bottom: 0.4px dotted white;
}
.jane-introduce .jane-title span {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 3px;
}
@media (max-width: 450px) {
  .jane-introduce .jane-title {
    font-size: 20px;
  }
}
.jane-introduce .jane-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.jane-introduce .jane-pic {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .jane-introduce .jane-pic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.jane-introduce .jane-pic div {
  width: 40%;
  height: 300px;
  overflow: hidden;
}
@media (max-width: 450px) {
  .jane-introduce .jane-pic div {
    height: 100px;
    width: 50%;
  }
}
.jane-introduce .jane-pic div img {
  transform: scale(2);
  width: 100%;
}
@media (max-width: 450px) {
  .jane-introduce .jane-pic div img {
    transform: scale(1);
  }
}
.jane-introduce .jane-pic .jane-pic1 {
  position: relative;
}
@media (max-width: 450px) {
  .jane-introduce .jane-pic .jane-pic1 {
    margin-bottom: 20px;
  }
}
.jane-introduce .jane-pic .jane-pic1::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "墨䔳情境 紳灰";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.jane-introduce .jane-pic .jane-pic1:hover::after {
  opacity: 1;
}
.jane-introduce .jane-pic .jane-pic2 {
  position: relative;
}
.jane-introduce .jane-pic .jane-pic2::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "坐設計 若山牧水";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.jane-introduce .jane-pic .jane-pic2:hover::after {
  opacity: 1;
}
.jane-introduce .jane-pic .jane-pic3 {
  position: relative;
  display: none;
}
@media (max-width: 450px) {
  .jane-introduce .jane-pic .jane-pic3 {
    margin-bottom: 20px;
  }
}
.jane-introduce .jane-pic .jane-pic3::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "禾宇 秋穗山嵐";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.jane-introduce .jane-pic .jane-pic3:hover::after {
  opacity: 1;
}
.jane-introduce .jane-pic .jane-pic4 {
  position: relative;
  display: none;
}
.jane-introduce .jane-pic .jane-pic4::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "竹工 國賓楊宅";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.jane-introduce .jane-pic .jane-pic4:hover::after {
  opacity: 1;
}
.jane-introduce .jane-page {
  display: flex;
  margin-top: 20px;
}
.jane-introduce .jane-page div {
  padding: 8px;
  border-radius: 4px;
  border: 1px white solid;
  font-size: 8px;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.jane-introduce .jane-page div:first-child {
  background-color: white;
  color: black;
}
.jane-introduce .jane-page .jane-btn2 {
  background-color: black;
}

.justin-introduce {
  width: 80%;
  height: 90vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 71, 71);
  border: 0.8px white dotted;
  z-index: 200;
}
@media (max-width: 1150px) {
  .justin-introduce {
    height: 70vh;
    top: 50%;
    translate: 0px -50%;
  }
}
@media (max-width: 450px) {
  .justin-introduce {
    height: 58vh;
    width: 80%;
  }
}
.justin-introduce .justin-title {
  height: 20%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border-bottom: 0.4px dotted white;
}
.justin-introduce .justin-title span {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 3px;
}
@media (max-width: 450px) {
  .justin-introduce .justin-title {
    font-size: 20px;
  }
}
.justin-introduce .justin-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.justin-introduce .justin-pic {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .justin-introduce .justin-pic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.justin-introduce .justin-pic div {
  width: 40%;
  height: 300px;
  overflow: hidden;
}
@media (max-width: 450px) {
  .justin-introduce .justin-pic div {
    height: 100px;
    width: 50%;
  }
}
.justin-introduce .justin-pic div img {
  transform: scale(2);
  width: 100%;
}
.justin-introduce .justin-pic .justin-pic1 {
  position: relative;
}
@media (max-width: 450px) {
  .justin-introduce .justin-pic .justin-pic1 {
    margin-bottom: 20px;
  }
}
.justin-introduce .justin-pic .justin-pic1::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "拾葉 彰化L宅";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.justin-introduce .justin-pic .justin-pic1:hover::after {
  opacity: 1;
}
.justin-introduce .justin-pic .justin-pic2 {
  position: relative;
}
.justin-introduce .justin-pic .justin-pic2::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "豐聚 微粉寓所";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.justin-introduce .justin-pic .justin-pic2:hover::after {
  opacity: 1;
}
.justin-introduce .justin-pic .justin-pic3 {
  position: relative;
  display: none;
}
@media (max-width: 450px) {
  .justin-introduce .justin-pic .justin-pic3 {
    margin-bottom: 20px;
  }
}
.justin-introduce .justin-pic .justin-pic3::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "禾宇 秋穗山嵐";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.justin-introduce .justin-pic .justin-pic3:hover::after {
  opacity: 1;
}
.justin-introduce .justin-pic .justin-pic4 {
  position: relative;
  display: none;
}
.justin-introduce .justin-pic .justin-pic4::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "竹工 國賓楊宅";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.justin-introduce .justin-pic .justin-pic4:hover::after {
  opacity: 1;
}
.justin-introduce .justin-page {
  display: flex;
  margin-top: 20px;
}
.justin-introduce .justin-page div {
  padding: 8px;
  border-radius: 4px;
  border: 1px white solid;
  font-size: 8px;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.justin-introduce .justin-page div:first-child {
  background-color: white;
  color: black;
}
.justin-introduce .justin-page .justin-btn2 {
  background-color: black;
}

.nelson-introduce {
  width: 80%;
  height: 90vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 71, 71);
  border: 0.8px white dotted;
  z-index: 200;
}
@media (max-width: 1150px) {
  .nelson-introduce {
    height: 70vh;
    top: 50%;
    translate: 0px -50%;
  }
}
@media (max-width: 450px) {
  .nelson-introduce {
    height: 58vh;
    width: 80%;
  }
}
.nelson-introduce .nelson-title {
  height: 20%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border-bottom: 0.4px dotted white;
}
.nelson-introduce .nelson-title span {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 3px;
}
@media (max-width: 450px) {
  .nelson-introduce .nelson-title {
    font-size: 20px;
  }
}
.nelson-introduce .nelson-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.nelson-introduce .nelson-pic {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .nelson-introduce .nelson-pic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nelson-introduce .nelson-pic div {
  width: 40%;
  height: 300px;
  overflow: hidden;
}
.nelson-introduce .nelson-pic div img {
  transform: scale(2);
  width: 100%;
}
@media (max-width: 450px) {
  .nelson-introduce .nelson-pic div {
    height: 100px;
    width: 50%;
  }
}
.nelson-introduce .nelson-pic .nelson-pic1 {
  position: relative;
}
@media (max-width: 450px) {
  .nelson-introduce .nelson-pic .nelson-pic1 {
    margin-bottom: 20px;
  }
}
.nelson-introduce .nelson-pic .nelson-pic1::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "大也 仁山協和";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.nelson-introduce .nelson-pic .nelson-pic1:hover::after {
  opacity: 1;
}
.nelson-introduce .nelson-pic .nelson-pic2 {
  position: relative;
}
.nelson-introduce .nelson-pic .nelson-pic2::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "一秝 金光裕建";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.nelson-introduce .nelson-pic .nelson-pic2:hover::after {
  opacity: 1;
}
.nelson-introduce .nelson-pic .nelson-pic3 {
  position: relative;
  display: none;
}
@media (max-width: 450px) {
  .nelson-introduce .nelson-pic .nelson-pic3 {
    margin-bottom: 20px;
  }
}
.nelson-introduce .nelson-pic .nelson-pic3::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "柱間 南投君詠";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.nelson-introduce .nelson-pic .nelson-pic3:hover::after {
  opacity: 1;
}
.nelson-introduce .nelson-pic .nelson-pic4 {
  position: relative;
  display: none;
}
.nelson-introduce .nelson-pic .nelson-pic4::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "日見 惠來L宅";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.nelson-introduce .nelson-pic .nelson-pic4:hover::after {
  opacity: 1;
}
.nelson-introduce .nelson-page {
  display: flex;
  margin-top: 20px;
}
.nelson-introduce .nelson-page div {
  padding: 8px;
  border-radius: 4px;
  border: 1px white solid;
  font-size: 8px;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.nelson-introduce .nelson-page div:first-child {
  background-color: white;
  color: black;
}
.nelson-introduce .nelson-page .nelson-btn2 {
  background-color: black;
}

.dandy-introduce {
  width: 80%;
  height: 90vh;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 71, 71);
  border: 0.8px white dotted;
  z-index: 200;
}
@media (max-width: 1150px) {
  .dandy-introduce {
    height: 70vh;
    top: 50%;
    translate: 0px -50%;
  }
}
@media (max-width: 450px) {
  .dandy-introduce {
    height: 58vh;
    width: 80%;
  }
}
.dandy-introduce .dandy-title {
  height: 20%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border-bottom: 0.4px dotted white;
}
.dandy-introduce .dandy-title span {
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 3px;
}
@media (max-width: 450px) {
  .dandy-introduce .dandy-title {
    font-size: 20px;
  }
}
.dandy-introduce .dandy-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.dandy-introduce .dandy-pic {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .dandy-introduce .dandy-pic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.dandy-introduce .dandy-pic div {
  width: 40%;
  height: 300px;
  overflow: hidden;
}
.dandy-introduce .dandy-pic div img {
  transform: scale(2);
  width: 100%;
}
@media (max-width: 450px) {
  .dandy-introduce .dandy-pic div {
    height: 100px;
    width: 50%;
  }
}
.dandy-introduce .dandy-pic .dandy-pic1 {
  position: relative;
}
@media screen {
  .dandy-introduce .dandy-pic .dandy-pic1 {
    margin-bottom: 20px;
  }
}
.dandy-introduce .dandy-pic .dandy-pic1::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "映荷空間  眺 望";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.dandy-introduce .dandy-pic .dandy-pic1:hover::after {
  opacity: 1;
}
.dandy-introduce .dandy-pic .dandy-pic2 {
  position: relative;
}
.dandy-introduce .dandy-pic .dandy-pic2::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "映荷空間 和 煦";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.dandy-introduce .dandy-pic .dandy-pic2:hover::after {
  opacity: 1;
}
.dandy-introduce .dandy-pic .dandy-pic3 {
  position: relative;
  display: none;
}
@media (max-width: 450px) {
  .dandy-introduce .dandy-pic .dandy-pic3 {
    margin-bottom: 20px;
  }
}
.dandy-introduce .dandy-pic .dandy-pic3::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "Z軸 橡園陳邸";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.dandy-introduce .dandy-pic .dandy-pic3:hover::after {
  opacity: 1;
}
.dandy-introduce .dandy-pic .dandy-pic4 {
  position: relative;
  display: none;
}
.dandy-introduce .dandy-pic .dandy-pic4::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  content: "禾馬 脈墨質所";
  transition: 0.3s;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.dandy-introduce .dandy-pic .dandy-pic4:hover::after {
  opacity: 1;
}
.dandy-introduce .dandy-page {
  display: flex;
  margin-top: 20px;
}
.dandy-introduce .dandy-page div {
  padding: 8px;
  border-radius: 4px;
  border: 1px white solid;
  font-size: 8px;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.dandy-introduce .dandy-page div:first-child {
  background-color: white;
  color: black;
}
.dandy-introduce .dandy-page .dandy-btn2 {
  background-color: black;
}

.banner-team {
  display: none;
  width: 100%;
  background-color: rgb(49, 48, 48);
  flex-direction: column;
}
.banner-team .banner-top {
  overflow: hidden;
  width: 100%;
  height: 30vh;
  opacity: 0;
  border-bottom: 1px white dotted;
  margin-bottom: 50px;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 3px;
  transform: translateX(-2000px);
  transition: 1s;
}
.banner-team .banner-top .chinese {
  font-size: 20px;
  padding-bottom: 8px;
  margin-left: 3px;
}
.banner-team .banner-mid {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px white dotted;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 450px) {
  .banner-team .banner-mid {
    flex-direction: column;
  }
}
.banner-team .banner-mid div {
  width: 30%;
}
@media (max-width: 450px) {
  .banner-team .banner-mid div {
    width: 80%;
  }
}
.banner-team .banner-mid div img {
  width: 100%;
  padding-bottom: 20px;
}
.banner-team .banner-mid .human1 {
  animation: float1 4s -3s infinite linear;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 0.8px white dotted;
  padding-top: 30px;
}
@media (max-width: 450px) {
  .banner-team .banner-mid .human1 {
    margin-bottom: 50px;
    margin-left: 0px;
  }
}
.banner-team .banner-mid .human1 .gai-pic1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.banner-team .banner-mid .human1 .gai-pic1-txt {
  margin-top: 30px;
  border-top: 0.5px white dotted;
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner-team .banner-mid .human1 .gai-pic1-txt .gai-pic1-txt-son {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner-team .banner-mid .human1 .gai-pic1-txt .view-more {
  border: 1px white solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.banner-team .banner-mid .human1 .gai-pic1-txt .view-more::before {
  content: "View Cases";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-mid .human1 .gai-pic1-txt .view-more:hover::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-mid .human2 {
  animation: float1 4s -3s infinite linear;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 0.8px white dotted;
  padding-top: 30px;
  transition: 0.4s;
}
@media (max-width: 450px) {
  .banner-team .banner-mid .human2 {
    margin-left: 0px;
  }
}
.banner-team .banner-mid .human2 .gai-pic2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}
.banner-team .banner-mid .human2 .gai-pic2 img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.banner-team .banner-mid .human2 .gai-pic2-txt {
  margin-top: 30px;
  border-top: 0.6px white dotted;
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner-team .banner-mid .human2 .gai-pic2-txt .gai-pic2-txt-son {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner-team .banner-mid .human2 .gai-pic2-txt .view-more2 {
  border: 1px white solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.banner-team .banner-mid .human2 .gai-pic2-txt .view-more2::before {
  content: "View Cases";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-mid .human2 .gai-pic2-txt .view-more2:hover::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-bottom {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}
@media (max-width: 450px) {
  .banner-team .banner-bottom {
    flex-direction: column;
  }
}
.banner-team .banner-bottom div {
  width: 30%;
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 450px) {
  .banner-team .banner-bottom div {
    width: 90%;
  }
}
.banner-team .banner-bottom img {
  width: 100%;
}
.banner-team .banner-bottom .human4 {
  animation: float1 7s -2s infinite linear;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 0.8px white dotted;
  padding-top: 30px;
}
@media (max-width: 450px) {
  .banner-team .banner-bottom .human4 {
    margin-left: 10px;
  }
}
.banner-team .banner-bottom .human4 .gai-pic4 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.banner-team .banner-bottom .human4 .gai-pic4-txt {
  margin-top: 30px;
  border-top: 0.6px white dotted;
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner-team .banner-bottom .human4 .gai-pic4-txt .gai-pic4-txt-son {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner-team .banner-bottom .human4 .gai-pic4-txt .view-more4 {
  border: 1px white solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.banner-team .banner-bottom .human4 .gai-pic4-txt .view-more4::before {
  content: "View More";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-bottom .human4 .gai-pic4-txt .view-more4:hover::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-bottom .introduce-bottom {
  display: none;
  padding: 10px;
  color: white;
  font-size: 25px;
}
.banner-team .banner-bottom .human3 {
  animation: float1 5s -3s infinite linear;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 0.8px white dotted;
  padding-top: 30px;
}
@media (max-width: 450px) {
  .banner-team .banner-bottom .human3 {
    margin-left: 10px;
    margin-bottom: 50px;
  }
}
.banner-team .banner-bottom .human3 .gai-pic3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.banner-team .banner-bottom .human3 .gai-pic3-txt {
  margin-top: 30px;
  border-top: 0.6px white dotted;
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner-team .banner-bottom .human3 .gai-pic3-txt .gai-pic3-txt-son {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner-team .banner-bottom .human3 .gai-pic3-txt .view-more3 {
  border: 1px white solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.banner-team .banner-bottom .human3 .gai-pic3-txt .view-more3::before {
  content: "View More";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner-team .banner-bottom .human3 .gai-pic3-txt .view-more3:hover::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.home-show-all {
  width: 100%;
  height: 100vh;
  border-top: 0.8px white dotted;
  color: white;
  background-color: rgb(49, 48, 48);
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  .home-show-all {
    height: 30vh;
  }
}
.home-show-all .home-show {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
}
.home-show-all .home-show .designers-txt {
  position: relative;
}
@media (max-width: 450px) {
  .home-show-all .home-show .designers-txt {
    font-size: 12px;
  }
}
.home-show-all .home-show .designers-txt::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  right: -3%;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px white solid;
  animation: 2s shine infinite;
}
.home-show-all .home-show::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 0%;
  border-right: 2px white solid;
  transition: 0.4s;
  animation: heightLong 20s infinite;
}
.home-show-all .home-contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 70px;
  align-items: flex-end;
  background-image: url("../../furniture_img/CharacterFooterPic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
@media (max-width: 450px) {
  .home-show-all .home-contact {
    background-image: none;
  }
}
.home-show-all .home-contact img {
  cursor: pointer;
  animation: float1 5s infinite;
  transform: rotate(90deg);
}
.home-show-all .home-contact .contact-link {
  padding-right: 3px;
}
.home-show-all .home-contact .contact-link a {
  writing-mode: vertical-rl;
  text-decoration: none;
  color: rgb(198, 44, 44);
  letter-spacing: 3px;
  font-size: 20px;
  border-radius: 10px;
}

footer {
  width: 100%;
}
footer .footer-width-control {
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #cec5ba;
}
@media (max-width: 900px) {
  footer .footer-width-control {
    height: 30vh;
    padding: 0px 15px;
  }
}
footer .footer-width-control .footer-all {
  display: flex;
  color: #423e44;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all {
    width: 80%;
  }
}
footer .footer-width-control .footer-all .footer-left {
  margin-right: 80px;
  line-height: 30px;
  padding-right: 15px;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-left {
    margin: 0px;
    margin-right: 0px;
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-left {
    display: none;
  }
}
footer .footer-width-control .footer-all .footer-left h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-left h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-left a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-left a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle {
  margin-right: 80px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle {
    margin: 0px;
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-middle {
    display: none;
  }
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle .business {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-middle h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-middle a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle div {
  font-weight: 300;
  letter-spacing: 4px;
}
footer .footer-width-control .footer-all .footer-right {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-width-control .footer-all .footer-right h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer-width-control .footer-all .footer-right div {
  font-weight: 300;
  letter-spacing: 3px;
}
@media (max-width: 1150px) {
  footer .footer-width-control .footer-all .footer-right div {
    letter-spacing: 2px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-right div {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
footer .footer-width-control .last-text {
  position: absolute;
  bottom: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: 450px) {
  footer .footer-width-control .last-text {
    display: none;
  }
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heightLong {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes float1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes scaleToClose {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes rotateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes menuTranslate {
  0% {
    opacity: 0;
    translate: -1200px 0px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}/*# sourceMappingURL=Character.css.map */