* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
header {
  .header-all {
    width: 100%;
    position: fixed;
    top: 0px;
    color: white;
    z-index: 100;
    @media (max-width: 450px) {
      width: 450px;
    }
    // border: 10px red solid;
    background: rgba(0, 0, 0, 0.5);
    .header-control-width {
      width: 100%;
      // height: 40vh;
      margin: 0 auto;
      overflow: visible;
      // border: 1px red solid;
      padding-left: 150px;
      padding-right: 150px;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      z-index: 100;
      transition: 0.5s;
      @media (max-width: 450px) {
        // border: 3px red solid;
      }
      .header-left {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
          margin-top: 10px;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          // border: 1px red solid;
          width: 100px;
        }
      }
      .header-middle {
        width: 50px;
        height: 50px;
        // border: 2px red solid;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        @media (max-width: 450px) {
          position: fixed;
          right: 30px;
          width: 30px;
          height: 50px;
        }
        span {
          width: 80%;
          height: 2px;
          position: absolute;
          background-color: white;
          &:first-child {
            top: 50%;
          }
          &:nth-child(2) {
            top: 70%;
          }
        }
        @media (max-width: 1150px) {
          display: flex;
        }
      }
      .header-right {
        display: flex;
        // border: 1px red solid;
        align-items: flex-end;
        padding-bottom: 10px;
        text-shadow: #666 2px 1px 5px;

        @media (max-width: 1150px) {
          position: absolute;
          flex-direction: column;
          display: none;
          width: 100%;
          height: 100vh;
          justify-content: flex-start;
          align-items: center;
          translate: -1200px 0px;
          transition: 0.3s;
          // bottom: 100%;
          top: 100%;
          left: 0%;
          padding: 0px;
          background-color: rgb(49, 48, 48);
          // border: 10px red solid;
        }
        div {
          padding-bottom: 8px;
          margin-right: 20px;
          @media (max-width: 1150px) {
            height: calc(100% / 8 - 15px);
            width: 100%;
            border-bottom: 1px white solid;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          @media (max-width: 450px) {
            height: auto;
            padding: 30px;
          }
          // border: 1px red solid;
          .first-page {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            padding-bottom: 3px;
            transition: 0.2s;
            // border: 1px red solid;
            &:hover {
              color: rgb(197, 188, 188);
            }
            &::before {
              content: "";
              position: absolute;
              // left: 70%;
              bottom: 10px; /* 调整下划线的位置 */
              width: 0;
              height: 4px;
              background-color: white;
              transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
            }
            &:hover::before {
              height: 2px;
              width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
            }
            // border: 1px red solid;
            i {
              font-size: 16px;
              margin-left: 3px;
            }
          }
          .line-design {
            // position: relative;
            color: white;
            margin: 0 10px;
            text-decoration: none;
            padding-bottom: 3px;
            transition: 0.2s;
            // border: 1px red solid;
            &:hover {
              color: rgb(197, 188, 188);
            }
            &::before {
              content: "";
              position: absolute;
              // left: 70%;
              bottom: 10px; /* 调整下划线的位置 */
              width: 0;
              height: 4px;
              background-color: white;
              transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
            }
            &:hover::before {
              height: 2px;
              width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
            }
            // .triangle {
            //   position: absolute;
            //   top: 2px;
            //   left: 100%;
            //   font-size: 2px;
            // }
          }
          a {
            text-decoration: none;
            color: white;
          }
        }

        .human-icon,
        .home {
          font-size: 10px;
        }
        .all-case {
          // margin: 0 10px;
          text-decoration: none;
          // padding-bottom: 3px;
          transition: 0.2s;
          position: relative;
          z-index: 2000;
          @media (max-width: 450px) {
            display: flex;
            flex-direction: column;
          }
          .top-case {
            color: white;
            text-decoration: none;
            margin-right: 5px;
            // border: 1px red solid;
          }
          .fa-solid {
            font-size: 10px;
            vertical-align: center;
            animation: caseMove 2s infinite;
            // border: 1px red solid;
            // padding-bottom: 5px;
          }
          .under-case {
            display: none;
            flex-direction: column;
            position: absolute;
            overflow: white-space;
            white-space: nowrap;

            z-index: 2000;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            // position: relative;
            background-color: rgba(30, 29, 29, 1);
            @media (max-width: 1150px) {
              width: 100%;
              height: 80vh;
              top: -100%;
            }
            @media (max-width: 450px) {
              width: 100%;
              height: 30vh;
              margin: 0 auto;
              top: 60%;
              position: static;
            }
            .under-close {
              display: none;
              @media (max-width: 1150px) {
                display: flex;
                // border: 1px red solid;
                font-size: 25px;
                justify-content: flex-end;
                padding-right: 20px;
                align-items: center;
                // position: absolute;
                // top: 10%;
                // right: 10%;
              }
            }
            a {
              margin-bottom: 10px;
              color: white;
              text-decoration: none;
              overflow: white-space;
              white-space: nowrap;
              @media (max-width: 1150px) {
                height: calc(100% / 3);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px white solid;
              }
              &:hover {
                color: rgba(223, 218, 218, 0.928);
              }
            }
          }
        }
      }
    }
  }
  .about-us {
    width: 100%;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    // border: 2px red solid;
    // background-image: url(../../furniture_img/human1.jpg),
    //   url(../../furniture_img/human2.jpg), url(../../furniture_img/human3.jpg),
    //   url(../../furniture_img/human4.jpg);

    // background-size: 25% 100%, 25% 100%, 25% 100%, 25% 100%;
    // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    // background-position: 0 0, 25% 0, 50% 0, 75% 0;
    background-color: rgb(49, 48, 48);
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    font-size: 100px;
    // padding-left: 50px;
    letter-spacing: 3px;
    transition: 0.3s;
    @media (max-width: 414px) {
      display: flex;
    }
    .about-banner {
      width: 25%;
      height: 100%;
      //   border: 1px red solid;
      @media (max-width: 414px) {
        display: none;
      }
      &:first-child {
        width: 25%;
        height: 100%;
        display: "block";
        background-image: url("../../furniture_img/human1.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        transition: 0.5s;
        @media (max-width: 414px) {
          display: block;
          width: 100%;
        }
        &:hover {
          width: 50%;
          @media (max-width: 414px) {
            width: 100%;
          }
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: "細節、材質、比例、專業成就家具的價值。";
          display: none;
          font-size: 16px;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover::after {
          display: flex;
          @media (max-width: 414px) {
            display: none;
          }
        }
      }
      &:nth-child(2) {
        width: 25%;
        height: 100%;
        display: "block";
        background-image: url("../../furniture_img/human2.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: 0.5s;
        &:hover {
          width: 50%;
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: "搓合美學與生活情境，為你打造最療癒的私人綠洲。";
          display: none;
          font-size: 16px;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover::after {
          display: flex;
        }
      }
      &:nth-child(3) {
        width: 25%;
        height: 100%;
        display: "block";
        background-image: url("../../furniture_img/human3.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: 0.5s;
        &:hover {
          width: 50%;
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: "熱情細心，家的藍圖，我來替你實現。";
          display: none;
          font-size: 16px;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover::after {
          display: flex;
        }
      }
      &:nth-child(4) {
        width: 25%;
        height: 100%;
        display: "block";
        background-image: url("../../furniture_img/human4.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: 0.5s;
        &:hover {
          width: 50%;
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: "經典才能使品味永恆。";
          display: none;
          font-size: 16px;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover::after {
          display: flex;
        }
      }
    }
    .collapse {
      display: none;

      @media (max-width: 414px) {
        display: flex;
        justify-content: center;
        font-size: 16px;
        transition: 1s;
        width: 50px;

        img {
          rotate: 270deg;
          width: 50px;
          animation: arrowMoveX 2s infinite;
          transition: 0.3s;
        }
      }
    }
  }
}

#app {
  //   height: 300vh;
  width: 100%;
  border: 1px #f7f7f7 solid;
  background-color: rgb(49, 48, 48);
  .under-banner-txt {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #d0baa1;
    padding: 50px;
    transition: 0.8s;
    @media (max-width: 414px) {
      padding: 50px 10px;
    }
    .readPost {
      font-size: 20px;
      letter-spacing: 3px;
      color: white;
      cursor: pointer;
      border: 1px white solid;
      padding: 10px;
      border-radius: 10px;
      opacity: 1;
      transition: 0.3s;
      animation: upAndDown infinite 3s linear;
    }
    .disappear {
      opacity: 0;
    }
    .second-part {
      color: white;
      letter-spacing: 3px;
      line-height: 3;
      //   border: 1px red solid;
      height: 80%;
      width: 80%;
      font-size: 20px;
      display: flex;
      justify-content: center;
    }
    .heart {
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    .heart {
      animation: upAndDown 2s infinite linear;
      img {
        width: 30px;
      }
    }
  }
  .person {
    width: 100%;
    height: 60vh;
    // border: 1px red solid;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 50px;
    background-color: rgb(49, 48, 48);
    @media (max-width: 414px) {
      flex-direction: column;
      height: auto;
      background-color: white;
      margin-bottom: 0px;
      padding-bottom: 0px;
      overflow-x: hidden;
    }
    .txt {
      width: 80%;

      border: 3px #2f3a7d solid;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      //   color: white;
      font-size: 20px;
      letter-spacing: 3px;
      background-color: #f7f7f7;
      position: relative;
      @media (max-width: 414px) {
        width: 100%;
        padding: 30px 0px;
        transition: 0.5s;
        border: none;
      }
      .openTxt {
        cursor: pointer;
        border: 1px black solid;
        padding: 10px;
        border-radius: 10px;
        animation: upAndDown 5s infinite linear;
      }
      .person-txt {
        line-height: 2;
        width: 80%;
        // position: relative;
        // border: 1px red solid;
        @media (max-width: 414px) {
          display: flex;
          flex-direction: column-reverse;
        }
        .proficient {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
          border: 1px black solid;
          padding: 5px 20px;
          font-size: 14px;
          border-radius: 10px;
          cursor: pointer;
          @media (max-width: 414px) {
            position: static;

            transform: translateX(0%);
          }
        }
        .personality {
          position: absolute;
          left: 40%;
          transform: translateX(-50%);
          bottom: 20px;
          border: 1px black solid;
          padding: 5px 20px;
          font-size: 14px;
          border-radius: 10px;
          cursor: pointer;
          @media (max-width: 414px) {
            position: static;
            margin-bottom: 10px;
            transform: translateX(0%);
          }
        }
        .introduction {
          position: absolute;
          left: 61.7%;
          transform: translateX(-50%);
          bottom: 20px;
          border: 1px black solid;
          padding: 5px 20px;
          font-size: 14px;
          border-radius: 10px;
          cursor: pointer;
          @media (max-width: 414px) {
            position: static;
            margin-bottom: 10px;
            transform: translateX(0%);
          }
        }
      }
      .collapse-arrow {
        display: none;
        @media (max-width: 414px) {
          display: flex;
          position: absolute;
          background-color: rgb(26, 25, 25);
          border-radius: 50%;
          bottom: 0px;
        }
      }
    }

    .pic {
      width: 20%;
      height: 100%;
      overflow: hidden;

      @media (max-width: 414px) {
        width: 110%;
        vertical-align: top;
        height: 0px;
        opacity: 0;
        transition: 0.5s;
        // border: 1px red solid;
      }
      &:first-child {
        img {
          position: relative;
          right: 40px;
        }
      }

      img {
        width: 300px;
        @media (max-width: 414px) {
          width: 100%;
        }
      }
    }
    .show-pic {
      height: 100%;
      opacity: 1;
      transition: 4s;
    }
  }
  .allCase {
    width: 90%;
    margin: 0 auto;
    // height: 200vh;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    @media (max-width: 414px) {
      border-top: none;
    }
    .input-type-all {
      display: flex;
      // border: 1px red solid;

      width: 60%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      @media (max-width: 414px) {
        width: 100%;
      }
      div {
        color: white;
      }
      label {
        color: white;
        margin-right: 5px;
      }
      .input-name {
        display: flex;
        label {
          @media (max-width: 414px) {
            display: none;
          }
        }
        @media (max-width: 414px) {
          display: block;
        }
        #typeName {
          @media (max-width: 414px) {
            width: 150%;
            padding: 5px 15px;
          }
        }
      }
      .clickChColor {
        color: black;
        background-color: white;
      }
      .control-box-btn {
        border: 1px white solid;
        padding: 10px;
        cursor: pointer;
        @media (max-width: 414px) {
          display: none;
        }
      }
      .popular,
      .latest {
        border: 1px white solid;
        padding: 10px;
        cursor: pointer;
      }
    }
    .check-designer {
      font-size: 25px;
      letter-spacing: 3px;
      color: white;
      margin-bottom: 20px;
      @media (max-width: 414px) {
        font-size: 18px;
      }
    }
    .card-case-all {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-case {
        width: calc(100% / 2 - 10px);
        // height: 400px;
        // border: 1px white solid;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        .card-case-pic {
          overflow-x: visible;
          img {
            // height: 80%;
            width: 100%;
            scale: 2;
          }
        }
        .dateAndLike {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          font-size: 20px;
          color: white;
          display: flex;
          justify-content: center;
          @media (max-width: 414px) {
            font-size: 14px;
          }
        }
      }
      .two-box {
        width: calc(100% / 2 - 10px);
      }
      .three-box {
        width: calc(100% / 3 - 10px);
      }
      .four-box {
        width: calc(100% / 4 - 10px);
      }
    }
  }
  .favorite {
    width: 90%;
    margin: 0 auto;
    // height: 100vh;
    // border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    .favorite-title {
      color: white;
      font-size: 30px;
      margin-bottom: 50px;
    }
    .mostLikeAll {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      // border: 10px red solid;
      // justify-content: space-between;
      .mostLike {
        width: calc(100% / 3 - 30px);
        height: 300px;
        margin-right: 30px;
        // border: 1px red solid;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        @media (max-width: 414px) {
          height: 200px;
          width: 100%;
          margin-right: 0px;
        }
        &:hover .close-favorite {
          display: flex;
        }
        &:hover::after {
          display: flex;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: none;
          background-color: rgba(0, 0, 0, 0.3);
        }

        .close-favorite {
          color: white;
          right: 20px;
          top: 20px;
          position: absolute;
          font-size: 30px;
          z-index: 2;
          cursor: pointer;
          display: none;
        }
        .favoriteName {
          position: absolute;
          color: white;
          font-size: 20px;
          bottom: 0px;
          width: 100%;
          display: flex;
          justify-content: center;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.3);
        }
        img {
          width: 100%;
          scale: 2;
        }
      }
      .disappearMostLike {
        animation: 5s mostLikeDisappear forwards;
      }
    }
  }
  .designerMember {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
    @media (max-width: 414px) {
      flex-direction: column;
    }
    div {
      margin-right: 20px;
      @media (max-width: 414px) {
        margin-bottom: 10px;
      }
    }
    .clear-all-shops {
      border: 1px white solid;
      padding: 5px 20px;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
      @media (max-width: 414px) {
        background-color: white;
        color: black;
      }
    }
    .deal-all-shops {
      border: 1px #ffcf48 solid;
      padding: 5px 20px;
      cursor: pointer;
      &:hover {
        background-color: #ffcf48;
        color: black;
      }
      @media (max-width: 414px) {
        background-color: #ffcf48;
        color: black;
      }
    }
  }
  .dealAllDesign {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    font-size: 25px;
    @media (max-width: 414px) {
      flex-direction: column;
      font-size: 20px;
    }
    div {
      margin-right: 20px;
    }
  }
  .opacityAllDesign {
    animation: 1s opacityDesign forwards 2s;
  }
  .notice {
    width: 100%;
    height: 100vh;
    // border: 1px red solid;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    .notice-main {
      width: 50%;
      height: 50%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      @media (max-width: 414px) {
        width: 80%;
        height: 20%;
        padding: 10px;
      }
      .notice-close {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 1px black solid;
        cursor: pointer;
        border-radius: 20px;
        &:hover {
          background-color: black;
          color: white;
        }
      }
      .notice-txt {
        font-size: 20px;
        letter-spacing: 3px;
      }
    }
  }
  .bonus-all {
    display: none;
    @media (max-width: 414px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 1px white solid;
    }
    .bonus-title {
      color: white;
      font-size: 25px;
    }
    .randomDesigner {
      display: none;
      @media (max-width: 414px) {
        width: 100%;
        // height: 20vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        .guessAnswer {
          border-bottom: 1px white solid;
          margin: 0px 10px;

          overflow: hidden;
          white-space: nowrap;
          .answerBox {
            display: flex;
            flex-direction: column;
            height: 20px;
            transition: 3s;
            .opacityFirst {
              &:first-child {
                color: transparent;
              }
            }
            div {
              border: 1px transparent solid;
            }
          }
        }
        .guessBtn {
          border: 1px white solid;
          padding: 2px 50px;
        }
      }
    }
    .showDesignerNameBtn {
      border: 1px white solid;
      color: white;
      padding: 5px 15px;
      margin-bottom: 10px;
    }
    .show-final-designer {
      color: white;
      font-size: 20px;
      width: 90%;
      margin: 0 auto;

      div {
        margin-bottom: 10px;
      }
    }
    .plus-minus-all {
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      color: white;

      width: 60%;
      margin-bottom: 10px;
      span {
        padding: 20px;
        border: 1px white solid;
      }
    }
    .noticeWidth {
      color: red;
      font-size: 20px;
    }
  }
}
footer {
  width: 100%;
  .footer-width-control {
    // padding-left: 120px;
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #cec5ba;
    // border: 1px red solid;
    @media (max-width: 900px) {
      height: 30vh;
      padding: 0px 15px;
    }
    // background-image: url(../../furniture_img/Group\ 3.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: -30px;
    // border: 1px red solid;
    .footer-all {
      display: flex;
      //   border: 1px red solid;
      color: #423e44;
      @media (max-width: 1100px) {
        width: 80%;
      }
      .footer-left {
        // border: 1px red solid;
        margin-right: 80px;
        line-height: 30px;
        padding-right: 15px;
        @media (max-width: 1100px) {
          margin: 0px;
          margin-right: 0px;
          width: calc(100% / 3 - 30px);
        }
        @media (max-width: 450px) {
          display: none;
        }
        h4 {
          font-size: 18px;
          margin-bottom: 15px;
          @media (max-width: 900px) {
            font-size: 16px;
          }
        }
        a {
          font-weight: 300;
          letter-spacing: 4px;
          text-decoration: none;
          color: black;
          transition: 0.2s;
          &:hover {
            color: #524d55;
          }
        }
      }
      .footer-middle {
        // border: 1px red solid;
        margin-right: 80px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1100px) {
          margin: 0px;
          width: calc(100% / 3 - 20px);
        }
        @media (max-width: 450px) {
          display: none;
        }
        .business {
          // border: 1px red solid;
          @media (max-width: 1100px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 16px;
          }
        }
        h4 {
          font-size: 18px;
          margin-bottom: 15px;
          @media (max-width: 900px) {
            font-size: 16px;
          }
        }
        a {
          font-weight: 300;
          letter-spacing: 4px;
          text-decoration: none;
          color: black;
          transition: 0.2s;
          &:hover {
            color: #524d55;
          }
        }
        div {
          font-weight: 300;
          letter-spacing: 4px;
        }
      }
      .footer-right {
        // border: 1px red solid;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 18px;
          margin-bottom: 15px;
        }
        div {
          font-weight: 300;
          letter-spacing: 3px;
          @media (max-width: 1150px) {
            letter-spacing: 2px;
            font-size: 14px;
          }
          @media (max-width: 450px) {
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .last-text {
      position: absolute;
      bottom: 20px;
      letter-spacing: 3px;
      font-weight: 300;
      font-size: 12px;
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes arrowMoveX {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: -15px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}
@keyframes menuTranslate {
  0% {
    opacity: 0;
    translate: -1200px 0px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}
@keyframes mostLikeDisappear {
  0% {
    opacity: 1;
    translate: 0px 0px;
  }
  50% {
    opacity: 0.5;
    translate: 800px 0px;
  }
  100% {
    opacity: 1;
    translate: 1800px 0px;
  }
}

@keyframes opacityDesign {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
