* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
header {
  // background-color: rgb(153, 153, 153);
  overflow: visible;
  .header-all {
    width: 100%;
    position: fixed;
    top: 0px;
    color: white;
    z-index: 100;

    // border: 1px red solid;
    .header-control-width {
      width: 1280px;

      margin: 0 auto;
      // border: 1px red solid;
      padding-left: 150px;
      padding-right: 150px;
      display: flex;
      justify-content: space-between;
      position: fixed;
      background: rgba(0, 0, 0, 0.3);
      z-index: 100;
      transition: 0.5s;
      .header-left {
        margin-bottom: 10px;
        img {
          margin-top: 10px;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          // border: 1px red solid;
          width: 100px;
        }
      }
      .header-right {
        display: flex;
        // border: 1px red solid;
        align-items: flex-end;
        padding-bottom: 10px;
        text-shadow: #666 2px 1px 5px;
        div {
          padding-bottom: 8px;
          // border: 1px red solid;
          .first-page {
            &:hover::before {
              height: 2px;
              width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
            }
            i {
              font-size: 16px;
              margin-left: 3px;
            }
          }
          a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            padding-bottom: 3px;
            transition: 0.2s;
            // border: 1px red solid;
            &:hover {
              color: rgb(197, 188, 188);
            }
            &::before {
              content: "";
              position: absolute;
              // left: 70%;
              bottom: 10px; /* 调整下划线的位置 */
              width: 0;
              height: 4px;
              background-color: white;
              transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
            }
            &:hover::before {
              height: 2px;
              width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
            }
          }
        }
        .human-icon,
        .home {
          font-size: 10px;
        }
        .all-case {
          // margin: 0 10px;
          text-decoration: none;
          // padding-bottom: 3px;
          transition: 0.2s;
          .top-case {
            color: white;
            text-decoration: none;
            margin-right: 5px;
          }
          .under-case {
            display: none;
            flex-direction: column;
            position: absolute;
            overflow: white-space;
            white-space: nowrap;
            z-index: 101;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            background-color: rgba(30, 29, 29, 0.8);
            a {
              margin-bottom: 10px;
              color: white;
              text-decoration: none;
              overflow: white-space;
              white-space: nowrap;
              &:hover {
                color: rgba(223, 218, 218, 0.928);
              }
            }
          }
        }
      }
    }
  }
  .case-banner {
    position: relative;
    // display: flex;
    // position: relative;
    // background-color: rgb(153, 153, 153);
    align-items: flex-start;
    // border: 3px red solid;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-image: url(../../furnitureCase_img/pic1.png);
    background-attachment: fixed;
    background-position: 70% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    .banner-txt {
      overflow: hidden;
      font-size: 80px;
      color: white;
      letter-spacing: 3px;
      transition: 1s;
    }
    .final-txt {
      opacity: 0;
      transition: 1s;
      font-size: 100px;
      letter-spacing: 3px;
      color: white;
    }
  }
}
.mini-detail,
.bon-detail,
.corner-detail,
.homeBed-detail,
.loka-detail,
.oliver-detail,
.bonjour-detail {
  width: 90%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px white solid;
  z-index: 1000;
  background-color: rgb(37, 37, 37);
  display: none;
  flex-direction: column;

  .mini-close,
  .bon-close,
  .corner-close,
  .homeBed-close,
  .loka-close,
  .oliver-close,
  .bonjour-close {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: flex-end;
    padding-right: 20px;
    font-weight: 700;
    padding-top: 10px;
    color: white;
    cursor: pointer;
  }
  .mini-pic,
  .bon-pic,
  .corner-pic,
  .homeBed-pic,
  .loka-pic,
  .oliver-pic,
  .bonjour-pic {
    width: 100%;
    height: 80%;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .control-mini-pic,
    .control-bon-pic,
    .control-corner-pic,
    .control-homeBed-pic,
    .control-loka-pic,
    .control-oliver-pic,
    .control-bonjour-pic {
      // border: 1px black solid;
      width: 300px;
      height: 300px;
      display: flex;
      overflow: hidden;
      transition: 0.5s;
      .mini-translate,
      .bon-translate,
      .corner-translate,
      .homeBed-translate,
      .loka-translate,
      .oliver-translate {
        width: 100%;
        transform: translateX(-900px);
        transition: 1s;
      }
      .bonjour-translate {
        width: 100%;
        transform: translateX(-900px);
        transition: 1s;
      }
    }
    .mini-left-side,
    .mini-right-side,
    .bon-left-side,
    .bon-right-side,
    .corner-left-side,
    .corner-right-side,
    .homeBed-left-side,
    .homeBed-right-side,
    .loka-left-side,
    .loka-right-side,
    .oliver-left-side,
    .oliver-right-side,
    .bonjour-left-side,
    .bonjour-right-side {
      color: white;
      font-size: 60px;
      cursor: pointer;
    }
  }
  .under-txt {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    letter-spacing: 3px;
    // border: 2px red solid;
  }
}
main {
  width: 100%;
  // height: 200vh;
  padding: 50px 0px;
  background-color: rgb(49, 48, 48);
  .main-control {
    width: 80%;
    // height: 100%;

    margin: 0 auto;
    border: 1px white solid;
    .furniture-control-btn {
      width: 100%;
      border-bottom: 1px white solid;
      padding: 30px 0px;
      // height: 100%;
      height: 10%;
      display: flex;
      // padding: 20px 0px;
      align-items: center;
      justify-content: space-around;
      .btn-item {
        border: 1px white solid;
        padding: 8px 30px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        &:hover {
          animation: btnRotate 0.3s infinite;
          color: gray;
        }
        &:first-child {
          background-color: white;
          color: black;
        }
      }
      .favorite-list {
        color: white;
        .favorite-list-num {
          font-size: 20px;
          color: rgb(204, 21, 21);
        }
      }
    }
    .sofa-items-all,
    .bed-items-all,
    .table-items-all {
      width: 100%;
      height: 90%;
      // display: flex;
      padding: 30px;
      flex-direction: column;
      .sofa-title,
      .bed-title,
      .table-title {
        // border: 1px red solid;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 5px;
        color: white;
        position: relative;
        margin-bottom: 20px;
        &::before {
          position: absolute;
          content: "";
          width: 30%;
          height: 30%;
          left: 10%;
          top: 50%;
          border-top: 1px white solid;
        }
        &::after {
          position: absolute;
          content: "";
          width: 30%;
          height: 30%;
          left: 60%;
          top: 50%;
          border-top: 1px white solid;
        }
      }
      .coltrol-items-width1,
      .coltrol-items-width2,
      .coltrol-items-width3 {
        width: 100%;
        // border: 1px red solid;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .sofa-items,
        .bed-items,
        .table-items {
          width: calc(100% / 3 - 20px);
          border: 1px white solid;
          height: 300px;
          display: flex;
          flex-direction: column;
          position: relative;

          .sofa-items-pic,
          .bed-items-pic,
          .table-items-pic {
            width: 100%;
            height: 80%;
            // border: 1px red solid;
            img {
              width: 100%;
              height: 100%;
            }
            &:hover::after {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(0, 0, 0, 0.3);
              content: "點擊查看更多";
              letter-spacing: 3px;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
          .sofa-items-txt,
          .bed-items-txt,
          .table-items-txt {
            width: 100%;
            height: 20%;
            display: flex;
            font-size: 20px;
            color: white;
            letter-spacing: 4px;
            justify-content: space-around;
            align-items: center;
            // border: 1px white solid;
            .txt-img {
              cursor: pointer;
              &:hover {
                animation: heartBig 0.8s infinite;
              }
            }
            .heart-change,
            .heart-change-two,
            .heartCh {
              width: 30px;
            }
          }
        }
      }
    }
    .table-items-all {
      display: none;
    }
    .bed-items-all {
      display: none;
    }
    .sofa-items-all {
      display: flex;
    }
  }
  .marquee {
    width: 100%;
    // height: 100vh;
    margin: 0 auto;
    margin-top: 40px;
    // border: 1px red solid;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 1s;
    .marquee-title {
      // border: 1px red solid;
      display: flex;
      justify-content: center;
      font-size: 38px;
      color: rgb(242, 13, 13);
      margin-bottom: 20px;
    }
    // left: -300px;
    img {
      position: relative;
      transition: 2s;
      width: calc(100% / 3);
      overflow-x: hidden;
      animation: marquee-animation 160s infinite linear;
    }
  }
}

@keyframes heartBig {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  25% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

@keyframes btnRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes marquee-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2400%);
  }
}
