@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header .header-all {
  width: 100%;
  position: fixed;
  top: 0px;
  color: white;
  z-index: 100;
}
header .header-all .header-control-width {
  width: 1280px;
  margin: 0 auto;
  overflow: visible;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.5s;
}
header .header-all .header-control-width .header-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
header .header-all .header-control-width .header-left img {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100px;
}
header .header-all .header-control-width .header-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  text-shadow: #666 2px 1px 5px;
}
header .header-all .header-control-width .header-right div {
  padding-bottom: 8px;
}
header .header-all .header-control-width .header-right div .first-page {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .first-page:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .first-page::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .first-page:hover::before {
  height: 2px;
  width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div .first-page i {
  font-size: 16px;
  margin-left: 3px;
}
header .header-all .header-control-width .header-right div .line-design {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .line-design:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .line-design::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .line-design:hover::before {
  height: 2px;
  width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right .human-icon,
header .header-all .header-control-width .header-right .home {
  font-size: 10px;
}
header .header-all .header-control-width .header-right .all-case {
  text-decoration: none;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right .all-case .top-case {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
header .header-all .header-control-width .header-right .all-case .fa-solid {
  font-size: 10px;
  vertical-align: center;
  animation: caseMove 2s infinite;
}
header .header-all .header-control-width .header-right .all-case .under-case {
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: white-space;
  white-space: nowrap;
  z-index: 101;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgba(30, 29, 29, 0.8);
}
header .header-all .header-control-width .header-right .all-case .under-case a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  overflow: white-space;
  white-space: nowrap;
}
header .header-all .header-control-width .header-right .all-case .under-case a:hover {
  color: rgba(223, 218, 218, 0.928);
}

main {
  width: 100%;
  height: 300vh;
  background-color: rgb(49, 48, 48);
}
main .news-title {
  width: 100%;
  height: 100vh;
  background-image: url(../../news2-img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  font-size: 100px;
  position: relative;
  transition: 1s;
}
main .news-title .news-title-span {
  position: relative;
  left: -25px;
}
main .main-txt {
  width: 100%;
  height: 100vh;
}
main .main-txt .main-control-width {
  width: 90%;
  margin: 0 auto;
  border: 2px red solid;
  height: 100%;
}
main .main-txt .main-control-width .main-control-width-title {
  width: 100%;
  height: 20%;
  font-size: 28px;
  letter-spacing: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .main-txt .main-control-width .main-control-width-title::before {
  width: 40%;
  position: absolute;
  left: 0%;
  content: "";
  border-top: 1px rgb(163, 160, 160) solid;
}
main .main-txt .main-control-width .main-control-width-title::after {
  width: 40%;
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  content: "";
  border-top: 1px rgb(163, 160, 160) solid;
}
main .main-txt .main-control-width .news-post-orange {
  width: 100%;
  border: 1px red solid;
  display: flex;
}
main .main-txt .main-control-width .news-post-orange .orange-pic {
  width: 50%;
}
main .main-txt .main-control-width .news-post-orange .orange-pic img {
  width: 100%;
  vertical-align: top;
}
main .main-txt .main-control-width .news-post-orange .orange-txt {
  width: 50%;
  color: rgb(197, 196, 196);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}
main .main-txt .main-control-width .news-post-orange .orange-txt .txt-date span {
  font-size: 20px;
  position: relative;
  top: 4px;
}
main .main-txt .main-control-width .news-post-orange .orange-txt .season-discount {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=news2.css.map */