@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.pageChange {
  position: fixed;
  right: 40px;
  top: 60%;
}
.pageChange .pageBtn {
  color: white;
  border: 1px white solid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.pageChange .pageBtn:hover {
  background-color: black;
}
.pageChange .pageBtn .upLine {
  width: 60%;
  height: 1px;
  background-color: white;
  position: absolute;
  inset: 0;
  margin: auto;
  rotate: 90deg;
}
.pageChange .pageBtn .upSecondLine {
  position: absolute;
  background-color: white;
  inset: 0;
  margin: auto;
  width: 40%;
  height: 1px;
  transform-origin: top left;
  rotate: -60deg;
}
.pageChange .pageBtn .upThirdLine {
  position: absolute;
  background-color: white;
  inset: 0;
  margin: auto;
  width: 40%;
  height: 1px;
  transform-origin: top right;
  rotate: 60deg;
}
.pageChange .btnTxt {
  position: absolute;
  color: white;
}

header .header-all {
  width: 100%;
  position: fixed;
  top: 0px;
  color: white;
  z-index: 100;
}
header .header-all .header-control-width {
  width: 1280px;
  margin: 0 auto;
  overflow: visible;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.5s;
}
header .header-all .header-control-width .header-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
header .header-all .header-control-width .header-left img {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100px;
}
header .header-all .header-control-width .header-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  text-shadow: #666 2px 1px 5px;
}
header .header-all .header-control-width .header-right div {
  padding-bottom: 8px;
}
header .header-all .header-control-width .header-right div .first-page {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .first-page:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .first-page::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .first-page:hover::before {
  height: 2px;
  width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div .first-page i {
  font-size: 16px;
  margin-left: 3px;
}
header .header-all .header-control-width .header-right div .line-design {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .line-design:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .line-design::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .line-design:hover::before {
  height: 2px;
  width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right .human-icon,
header .header-all .header-control-width .header-right .home {
  font-size: 10px;
}
header .header-all .header-control-width .header-right .all-case {
  text-decoration: none;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right .all-case .top-case {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
header .header-all .header-control-width .header-right .all-case .fa-solid {
  font-size: 10px;
  vertical-align: center;
  animation: caseMove 2s infinite;
}
header .header-all .header-control-width .header-right .all-case .under-case {
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: white-space;
  white-space: nowrap;
  z-index: 101;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgba(30, 29, 29, 0.8);
}
header .header-all .header-control-width .header-right .all-case .under-case a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  overflow: white-space;
  white-space: nowrap;
}
header .header-all .header-control-width .header-right .all-case .under-case a:hover {
  color: rgba(223, 218, 218, 0.928);
}

.news-banner {
  width: 100%;
  background-color: rgb(49, 48, 48);
}
.news-banner .news-title {
  width: 100%;
  height: 100vh;
  background-image: url(../../news2-img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  font-size: 100px;
  position: relative;
  transition: 1s;
}
.news-banner .news-title .news-title-span {
  position: relative;
  left: -25px;
}
.news-banner .news-posts-all {
  width: 100%;
  background-color: rgb(49, 48, 48);
  padding: 30px;
}
.news-banner .news-posts-all .news-control-width {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.news-banner .news-posts-all .news-control-width .news-post-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor {
  width: calc(33.3333333333% - 30px);
  color: white;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 50px;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor:hover {
  background-color: rgb(35, 34, 34);
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .top-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .top-img img {
  width: 100%;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .txt-point {
  font-size: 18px;
  padding: 20px 10px;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .date {
  border-top: 1px white solid;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  padding: 10px 10px;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .date div {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .date div .date-span {
  width: 100%;
  height: 0.6px;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: white;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .date div .date-span:first-child {
  rotate: 45deg;
  transition: 0.6s;
}
.news-banner .news-posts-all .news-control-width .news-post-card .first-floor .date div .date-span:nth-child(2) {
  rotate: -45deg;
  transition: 0.6s;
}/*# sourceMappingURL=news2.css.map */