@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header .header-all {
  width: 100%;
  position: fixed;
  top: 0px;
  color: white;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 450px) {
  header .header-all {
    width: 450px;
  }
}
header .header-all .header-control-width {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.5s;
}
header .header-all .header-control-width .header-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
header .header-all .header-control-width .header-left img {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100px;
}
header .header-all .header-control-width .header-middle {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-middle {
    position: fixed;
    right: 30px;
    width: 30px;
    height: 50px;
  }
}
header .header-all .header-control-width .header-middle span {
  width: 80%;
  height: 2px;
  position: absolute;
  background-color: white;
}
header .header-all .header-control-width .header-middle span:first-child {
  top: 50%;
}
header .header-all .header-control-width .header-middle span:nth-child(2) {
  top: 70%;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-middle {
    display: flex;
  }
}
header .header-all .header-control-width .header-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  text-shadow: #666 2px 1px 5px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right {
    position: absolute;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    translate: -1200px 0px;
    transition: 0.3s;
    top: 100%;
    left: 0%;
    padding: 0px;
    background-color: rgb(49, 48, 48);
  }
}
header .header-all .header-control-width .header-right div {
  padding-bottom: 8px;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right div {
    height: calc(12.5% - 15px);
    width: 100%;
    border-bottom: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right div {
    height: auto;
    padding: 30px;
  }
}
header .header-all .header-control-width .header-right div .first-page {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .first-page:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .first-page::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .first-page:hover::before {
  height: 2px;
  width: 2.8%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right div .first-page i {
  font-size: 16px;
  margin-left: 3px;
}
header .header-all .header-control-width .header-right div .line-design {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
}
header .header-all .header-control-width .header-right div .line-design:hover {
  color: rgb(197, 188, 188);
}
header .header-all .header-control-width .header-right div .line-design::before {
  content: "";
  position: absolute;
  bottom: 10px; /* 调整下划线的位置 */
  width: 0;
  height: 4px;
  background-color: white;
  transition: height 0.2s ease-in-out, width 0.3s ease-in-out;
}
header .header-all .header-control-width .header-right div .line-design:hover::before {
  height: 2px;
  width: 5%; /* hover 状态下将下划线的宽度设置为 100% */
}
header .header-all .header-control-width .header-right .human-icon,
header .header-all .header-control-width .header-right .home {
  font-size: 10px;
}
header .header-all .header-control-width .header-right .all-case {
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case {
    display: flex;
    flex-direction: column;
  }
}
header .header-all .header-control-width .header-right .all-case .top-case {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
header .header-all .header-control-width .header-right .all-case .fa-solid {
  font-size: 10px;
  vertical-align: center;
  animation: caseMove 2s infinite;
}
header .header-all .header-control-width .header-right .all-case .under-case {
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: white-space;
  white-space: nowrap;
  z-index: 101;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgb(30, 29, 29);
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 80vh;
    top: -100%;
  }
}
@media (max-width: 450px) {
  header .header-all .header-control-width .header-right .all-case .under-case {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    top: 60%;
    position: static;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case .under-close {
  display: none;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case .under-close {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  overflow: white-space;
  white-space: nowrap;
}
@media (max-width: 1150px) {
  header .header-all .header-control-width .header-right .all-case .under-case a {
    height: 33.3333333333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
  }
}
header .header-all .header-control-width .header-right .all-case .under-case a:hover {
  color: rgba(223, 218, 218, 0.928);
}
header article {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../../furniture_img/question4.jpg);
  background-attachment: fixed;
  transition: 0.3s;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(49, 48, 48);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header article .title-chinese {
  font-size: 60px;
  letter-spacing: 4px;
}
header article .title-english {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
header article::after {
  content: "";
  display: flex;
  width: 5%;
  border: 1px rgb(49, 48, 48) solid;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: rotate(90deg);
  transform-origin: top left;
  animation: lineRotated 15s infinite linear;
}
header article::before {
  content: "";
  display: flex;
  width: 3%;
  border: 1.6px rgb(49, 48, 48) solid;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: rotate(90deg);
  transform-origin: top left;
}

main {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgb(49, 48, 48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .paper1 {
  width: 80%;
  height: 80%;
  padding-left: 50px;
  padding-top: 50px;
  display: block;
}
@media (max-width: 414px) {
  main .paper1 {
    padding-left: 0px;
  }
}
main .question-title {
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
}
main .question-title .question-furniture {
  color: rgb(49, 48, 48);
  background-color: white;
}
main .question-title div {
  border: 1px white solid;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
main .question-title div:hover {
  color: rgb(198, 197, 197);
}
main .paper1 {
  color: white;
  font-size: 28px;
}
main .paper1 .paper1-question1 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main .paper1 .paper1-question1 .paper1-option {
  display: flex;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question1 .paper1-option {
    flex-direction: column;
  }
}
main .paper1 .paper1-question1 .paper1-option input {
  display: none;
}
main .paper1 .paper1-question1 .paper1-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
main .paper1 .paper1-question1 .paper1-option span {
  margin-right: 12px;
}
main .paper1 .paper1-question1 .paper1-option .question1-all {
  margin-right: 10px;
}
main .paper1 .paper1-question1 .paper1-option .question1-all:hover {
  color: rgb(171, 170, 170);
}
main .paper1 .paper1-question1 .paper1-option .question1-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question1 .paper1-option .question1-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question1 .paper1-option .question1-all {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question1 .paper1-option .gap {
    display: none;
  }
}
main .paper1 .paper1-question1 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
main .paper1 .paper1-question1 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question1 .what-material {
    font-size: 18px;
  }
}
main .paper1 .paper1-question2 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main .paper1 .paper1-question2 .paper2-option {
  display: flex;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question2 .paper2-option {
    flex-direction: column;
  }
}
main .paper1 .paper1-question2 .paper2-option input {
  display: none;
}
main .paper1 .paper1-question2 .paper2-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
main .paper1 .paper1-question2 .paper2-option span {
  margin-right: 12px;
}
main .paper1 .paper1-question2 .paper2-option .question2-all {
  margin-right: 10px;
}
main .paper1 .paper1-question2 .paper2-option .question2-all:hover {
  color: rgb(171, 170, 170);
}
main .paper1 .paper1-question2 .paper2-option .question2-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question2 .paper2-option .question2-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question2 .paper2-option .question2-all {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question2 .gap {
    display: none;
  }
}
main .paper1 .paper1-question2 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
main .paper1 .paper1-question2 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question2 .what-material {
    font-size: 18px;
  }
}
main .paper1 .paper1-question3 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main .paper1 .paper1-question3 .paper3-option {
  display: flex;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question3 .paper3-option {
    flex-direction: column;
  }
}
main .paper1 .paper1-question3 .paper3-option input {
  display: none;
}
main .paper1 .paper1-question3 .paper3-option label {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 16px;
}
main .paper1 .paper1-question3 .paper3-option span {
  margin-right: 12px;
}
main .paper1 .paper1-question3 .paper3-option .question3-all {
  margin-right: 10px;
}
main .paper1 .paper1-question3 .paper3-option .question3-all:hover {
  color: rgb(171, 170, 170);
}
main .paper1 .paper1-question3 .paper3-option .question3-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question3 .paper3-option .question3-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question3 .paper3-option .question3-all {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question3 .paper3-option .gap {
    display: none;
  }
}
main .paper1 .paper1-question3 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
main .paper1 .paper1-question3 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question3 .what-material {
    font-size: 18px;
  }
}
main .paper1 .paper1-question4 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main .paper1 .paper1-question4 .paper4-option {
  display: flex;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question4 .paper4-option {
    flex-direction: column;
  }
}
main .paper1 .paper1-question4 .paper4-option input {
  display: none;
}
main .paper1 .paper1-question4 .paper4-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
main .paper1 .paper1-question4 .paper4-option span {
  margin-right: 12px;
}
main .paper1 .paper1-question4 .paper4-option .question4-all {
  margin-right: 10px;
}
main .paper1 .paper1-question4 .paper4-option .question4-all:hover {
  color: rgb(171, 170, 170);
}
main .paper1 .paper1-question4 .paper4-option .question4-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question4 .paper4-option .question4-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question4 .paper4-option .question4-all {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  main .paper1 .paper1-question4 .paper4-option .gap {
    display: none;
  }
}
main .paper1 .paper1-question4 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
main .paper1 .paper1-question4 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  main .paper1 .paper1-question4 .what-material {
    font-size: 18px;
  }
}
main .paper1 .sendBtn {
  border: 1px white solid;
  display: flex;
  background-color: black;
  color: white;
  cursor: pointer;
  justify-content: center;
  font-size: 16px;
  width: 100%;
}

.welcome {
  width: 100%;
  height: 100vh;
  background-image: url(../../furniture_img/question2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-attachment: fixed;
}
@media (max-width: 414px) {
  .welcome {
    height: 30vh;
    background-size: cover;
  }
}
.welcome .welcome-son {
  width: 70%;
  height: 100%;
  border: 2px black solid;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(49, 48, 48);
  font-size: 30px;
  letter-spacing: 3px;
  position: relative;
}
@media (max-width: 414px) {
  .welcome .welcome-son {
    font-size: 20px;
  }
}
.welcome .welcome-son .welcome-first {
  position: relative;
}
.welcome .welcome-son .welcome-first::after {
  content: "";
  width: 20px;
  border: 1px white solid;
  position: absolute;
  transform: rotate(90deg);
  animation: shinning 2s infinite;
  top: 50%;
}
.welcome .dot {
  color: transparent;
}

.paper2 {
  width: 80%;
  height: 80%;
  padding-left: 50px;
  padding-top: 50px;
  display: none;
  color: white;
}
@media (max-width: 414px) {
  .paper2 {
    padding-left: 0px;
  }
}
.paper2 .paper2-question1 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.paper2 .paper2-question1 .paper2-option {
  display: flex;
}
@media (max-width: 414px) {
  .paper2 .paper2-question1 .paper2-option {
    flex-direction: column;
  }
}
.paper2 .paper2-question1 .paper2-option input {
  display: none;
}
.paper2 .paper2-question1 .paper2-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
.paper2 .paper2-question1 .paper2-option span {
  margin-right: 12px;
}
.paper2 .paper2-question1 .paper2-option .question11-all {
  margin-right: 10px;
}
.paper2 .paper2-question1 .paper2-option .question11-all:hover {
  color: rgb(171, 170, 170);
}
.paper2 .paper2-question1 .paper2-option .question11-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  .paper2 .paper2-question1 .paper2-option .question11-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper2-question1 .paper2-option .question11-all {
    margin-bottom: 40px;
  }
  .paper2 .paper2-question1 .paper2-option .question11-all:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper2-question1 .paper2-option .gap {
    display: none;
  }
}
.paper2 .paper2-question1 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
.paper2 .paper2-question1 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  .paper2 .paper2-question1 .what-material {
    font-size: 18px;
  }
}
.paper2 .paper1-question2 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.paper2 .paper1-question2 .paper2-option {
  display: flex;
}
@media (max-width: 414px) {
  .paper2 .paper1-question2 .paper2-option {
    flex-direction: column;
  }
}
.paper2 .paper1-question2 .paper2-option input {
  display: none;
}
.paper2 .paper1-question2 .paper2-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
.paper2 .paper1-question2 .paper2-option span {
  margin-right: 12px;
}
.paper2 .paper1-question2 .paper2-option .question2-all {
  margin-right: 10px;
}
.paper2 .paper1-question2 .paper2-option .question2-all:hover {
  color: rgb(171, 170, 170);
}
.paper2 .paper1-question2 .paper2-option .question2-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  .paper2 .paper1-question2 .paper2-option .question2-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question2 .paper2-option .question2-all {
    margin-bottom: 40px;
  }
  .paper2 .paper1-question2 .paper2-option .question2-all:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question2 .paper2-option .gap {
    display: none;
  }
}
.paper2 .paper1-question2 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
.paper2 .paper1-question2 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  .paper2 .paper1-question2 .what-material {
    font-size: 18px;
  }
}
.paper2 .paper1-question3 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.paper2 .paper1-question3 .paper3-option {
  display: flex;
}
@media (max-width: 414px) {
  .paper2 .paper1-question3 .paper3-option {
    flex-direction: column;
  }
}
.paper2 .paper1-question3 .paper3-option input {
  display: none;
}
.paper2 .paper1-question3 .paper3-option label {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 16px;
}
.paper2 .paper1-question3 .paper3-option span {
  margin-right: 12px;
}
.paper2 .paper1-question3 .paper3-option .question3-all {
  margin-right: 10px;
}
.paper2 .paper1-question3 .paper3-option .question3-all:hover {
  color: rgb(171, 170, 170);
}
.paper2 .paper1-question3 .paper3-option .question3-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  .paper2 .paper1-question3 .paper3-option .question3-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question3 .paper3-option .question3-all {
    margin-bottom: 40px;
  }
  .paper2 .paper1-question3 .paper3-option .question3-all:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question3 .paper3-option .gap {
    display: none;
  }
}
.paper2 .paper1-question3 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
.paper2 .paper1-question3 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  .paper2 .paper1-question3 .what-material {
    font-size: 18px;
  }
}
.paper2 .paper1-question4 {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.paper2 .paper1-question4 .paper4-option {
  display: flex;
}
@media (max-width: 414px) {
  .paper2 .paper1-question4 .paper4-option {
    flex-direction: column;
  }
}
.paper2 .paper1-question4 .paper4-option input {
  display: none;
}
.paper2 .paper1-question4 .paper4-option label {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 3px;
}
.paper2 .paper1-question4 .paper4-option span {
  margin-right: 12px;
}
.paper2 .paper1-question4 .paper4-option .question4-all {
  margin-right: 10px;
}
.paper2 .paper1-question4 .paper4-option .question4-all:hover {
  color: rgb(171, 170, 170);
}
.paper2 .paper1-question4 .paper4-option .question4-all .all-radio:checked + label {
  color: red;
}
@media (max-width: 414px) {
  .paper2 .paper1-question4 .paper4-option .question4-all label {
    border: 1px white solid;
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question4 .paper4-option .question4-all {
    margin-bottom: 40px;
  }
  .paper2 .paper1-question4 .paper4-option .question4-all:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .paper2 .paper1-question4 .paper4-option .gap {
    display: none;
  }
}
.paper2 .paper1-question4 .what-material {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}
.paper2 .paper1-question4 .what-material span {
  font-size: 50px;
}
@media (max-width: 414px) {
  .paper2 .paper1-question4 .what-material {
    font-size: 18px;
  }
}
.paper2 .paper2-sendBtn {
  border: 1px white solid;
  display: flex;
  background-color: black;
  color: white;
  cursor: pointer;
  justify-content: center;
}

.show-result {
  position: fixed;
  border: 2px black solid;
  border-radius: 20px;
  width: 60%;
  height: 50%;
  top: 30%;
  left: 20%;
  display: none;
  flex-direction: column;
  background-color: white;
}
.show-result .x-mark {
  display: flex;
  justify-content: flex-end;
  height: 20%;
  font-size: 30px;
  padding-right: 30px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-bottom: 1px black dotted;
}
.show-result .score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70%;
  letter-spacing: 4px;
  font-size: 20px;
}

footer {
  width: 100%;
}
footer .footer-width-control {
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #cec5ba;
}
@media (max-width: 900px) {
  footer .footer-width-control {
    height: 30vh;
    padding: 0px 15px;
  }
}
footer .footer-width-control .footer-all {
  display: flex;
  color: #423e44;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all {
    width: 80%;
  }
}
footer .footer-width-control .footer-all .footer-left {
  margin-right: 80px;
  line-height: 30px;
  padding-right: 15px;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-left {
    margin: 0px;
    margin-right: 0px;
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-left {
    display: none;
  }
}
footer .footer-width-control .footer-all .footer-left h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-left h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-left a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-left a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle {
  margin-right: 80px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle {
    margin: 0px;
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-middle {
    display: none;
  }
}
@media (max-width: 1100px) {
  footer .footer-width-control .footer-all .footer-middle .business {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  footer .footer-width-control .footer-all .footer-middle h4 {
    font-size: 16px;
  }
}
footer .footer-width-control .footer-all .footer-middle a {
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
footer .footer-width-control .footer-all .footer-middle a:hover {
  color: #524d55;
}
footer .footer-width-control .footer-all .footer-middle div {
  font-weight: 300;
  letter-spacing: 4px;
}
footer .footer-width-control .footer-all .footer-right {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-width-control .footer-all .footer-right h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer-width-control .footer-all .footer-right div {
  font-weight: 300;
  letter-spacing: 3px;
}
@media (max-width: 1150px) {
  footer .footer-width-control .footer-all .footer-right div {
    letter-spacing: 2px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  footer .footer-width-control .footer-all .footer-right div {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
footer .footer-width-control .last-text {
  position: absolute;
  bottom: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: 450px) {
  footer .footer-width-control .last-text {
    display: none;
  }
}

@keyframes shinning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shinngLittle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineRotated {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes menuTranslate {
  0% {
    opacity: 0;
    translate: -1200px 0px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}/*# sourceMappingURL=question.css.map */